body{
  background: linear-gradient(0deg, rgb(43, 48, 48) 0%, rgb(199, 206, 205) 100%);
}

.home-div{
  overflow: scroll;
}

.nav-link{
  color: white;
}

.hero-img-container{
  height: 100%;
  width: 100%;
  /* border: 1px red solid; */
  display: flex;
  justify-content: baseline;
  overflow: hidden;
}

.hero-img{
  /* max-width: auto; */
  max-height: 90vh;
  margin-top: 10vh;
  /* z-index: -20; */
  /* object-fit: contain; */
}

.full-stack-div{
  background: rgba(70, 81, 176, 0.52);
  width: 400px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;
  width: 280px;
}

.hero-text{
  text-align: left;
  padding: 0;
  /* background: rgba(0, 0, 0, .2); */
  /* width: 100%; */
  margin-top: 7rem;
  margin-right: 0;
  /* padding-left: 2rem; */
}

.hero-text h1{
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgb(70, 81, 176);
  margin-bottom: 0;
  letter-spacing: 2px;
  padding-left: 0;
}

.hero-text h2{
  font-size: calc(16px);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  margin-left: 8px;
  margin-top: 0;
  /* font-weight: bold; */
  /* font-family: 'Oxygen', sans-serif; */
}

.hero-text hr{
  width: 50%;
  /* margin: auto; */
  border-top: 1px solid white;
  padding-bottom: 2rem;
}

.hero-text p{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  /* padding: 1em; */
}

.social-media-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 10%;
  padding: 0;
  margin: 0;
  /* margin: aut; */
}

.social-media-links i{
  color: white;
  font-size: 2em;
  padding: 8px;
}

.landing-grid{
  background: linear-gradient(0deg, rgb(43, 48, 48) 0%, rgb(199, 206, 205) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px;
  overflow: scroll;
}

.projects-grid{
  display: flex;
  /* background: linear-gradient(0deg, rgb(43, 48, 48) 0%, rgb(199, 206, 205) 100%); */
}

.project-tabs{
  border: none;
  color: white;
}

.content-body{
  background: linear-gradient(0deg, rgb(43, 48, 48) 0%, rgb(199, 206, 205) 100%);
  overflow: scroll;
}

.contact-body{
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  font-family: 'Anton', sans-serif
}

.contact-grid{
  text-align: center;
  width: 80%;
  height: 550px;
  color: black;
  background: white;
  /* border: 1px red solid; */
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}

.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
  /* text-align: left; */
}

.contact-list i{
  font-size: 50px;  
  padding-right: 3rem;
}

.contact-info{
  width: 320px;
}

/* Resume Page CSS */
.resume-right-col{
  background: #27221F;
  color: white;
  padding: 2em;
}

.aboutme-grid{
  font-family: 'Lato', sans-serif;
}

.aboutme-grid .left-col{
  border: 1px red solid;
}
.aboutme-grid .right-col{
  border: 1px red solid;
}

.aboutme-intro{
  text-align: center;
}

.aboutme-img-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 0 0 60%;
  /* border:  */
}

.aboutme-img{
  width: 300%;
  height: auto;
  /* position: fixed; */
  margin-left: -280px;
  margin-top: -65px;
}

/* Color Theme Swatches in Hex */
.Grey-tie-on-dark-background-1-hex { color: #C7D1D9; }
.Grey-tie-on-dark-background-2-hex { color: #313A40; }
.Grey-tie-on-dark-background-3-hex { color: #72828C; }
.Grey-tie-on-dark-background-4-hex { color: #5D6A73; }
.Grey-tie-on-dark-background-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Grey-tie-on-dark-background-1-rgba { color: rgba(199, 208, 216, 1); }
.Grey-tie-on-dark-background-2-rgba { color: rgba(49, 58, 63, 1); }
.Grey-tie-on-dark-background-3-rgba { color: rgba(113, 130, 140, 1); }
.Grey-tie-on-dark-background-4-rgba { color: rgba(92, 106, 114, 1); }
.Grey-tie-on-dark-background-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Grey-tie-on-dark-background-1-hsla { color: hsla(208, 18, 81, 1); }
.Grey-tie-on-dark-background-2-hsla { color: hsla(202, 12, 22, 1); }
.Grey-tie-on-dark-background-3-hsla { color: hsla(202, 10, 49, 1); }
.Grey-tie-on-dark-background-4-hsla { color: hsla(202, 10, 40, 1); }
.Grey-tie-on-dark-background-5-hsla { color: hsla(0, 0, 5, 1); }